@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Conv_NeoTrash-Bold'; }

@font-face {
  font-family: 'Conv_gl-mkafio-book';
  src: url("fonts/gl-mkafio-book.eot");
  src: local("☺"), url("fonts/gl-mkafio-book.woff") format("woff"), url("fonts/gl-mkafio-book.ttf") format("truetype"), url("fonts/gl-mkafio-book.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Conv_NeoTrash-Bold';
  src: url("fonts/NeoTrash-Bold.eot");
  src: local("☺"), url("fonts/NeoTrash-Bold.woff") format("woff"), url("fonts/NeoTrash-Bold.ttf") format("truetype"), url("fonts/NeoTrash-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
#textfield {
  opacity: 0;
  display: none; }

/*.window{
  background:#222;  
  height:300px;
  max-width:620px;
  margin:auto;
  overflow:hidden;
  box-sizing:border-box;
  border-radius:10px;
  -webkit-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.75);
}*/
.window > .top {
  background: #f0f0f0;
  background: -moz-linear-gradient(top, #f0f0f0 0%, #dedede 47%, #d9d9d9 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #f0f0f0), color-stop(47%, #dedede), color-stop(100%, #d9d9d9));
  background: -webkit-linear-gradient(top, #f0f0f0 0%, #dedede 47%, #d9d9d9 100%);
  background: -o-linear-gradient(top, #f0f0f0 0%, #dedede 47%, #d9d9d9 100%);
  background: -ms-linear-gradient(top, #f0f0f0 0%, #dedede 47%, #d9d9d9 100%);
  background: linear-gradient(to bottom, #f0f0f0 0%, #dedede 47%, #d9d9d9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#d9d9d9', GradientType=0 );
  display: block;
  height: 25px;
  text-align: center;
  line-height: 25px;
  font-size: 14px;
  color: #222;
  font-family: 'Roboto', sans-serif; }

p {
  padding: 0 22px 22px;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 36pt;
  /* font-family: 'Source Code Pro', monospace; */
  overflow-y: auto; }

/*#blink{
  content:'';
  display:inline-block;
  border-bottom:26px solid #00Cb5c;
  width:18px;
  margin-left:5px;
  animation: blink 0.5s linear 0.5s infinite alternate;
}*/
@keyframes blink {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  51% {
    opacity: 1; }
  100% {
    opacity: 1; } }
.textareaContainer {
  padding: 11px;
  background: rgba(0, 0, 0, 0.5); }

/*input,button{
  font-family: 'Roboto', sans-serif;
  background:none;
  border:none;
  outline:none;
  color:#FFF;
  font-size:18px;
  font-weight:400;
  line-height:30px;
  padding:5px 11px;
  box-sizing:border-box;
  display:block;
  float:left;
}*/
input {
  width: 70%; }

input::placeholder {
  color: #AAA; }

/*button{
  width:30%;
  background:#00aa3c;
}
button:hover{
  cursor:pointer;
  background:#009a2c;
}*/
/*.textareaContainer{
  overflow:hidden;
  display:block;
  width:300px;
  position:absolute;
  bottom:22px;
  left:50%;
  margin-left:-150px;
}*/
input:focus, button:focus, textarea:focus {
  outline: none; }

.textareaContainer {
  display: none; }

.textareaContainer {
  opacity: 0; }

a:hover {
  text-decoration: none; }

.hidden {
  display: none; }

.qustion_buttons button {
  border: 1px solid #fff; }
  .qustion_buttons button div span {
    padding: 10px 20px;
    font-size: 34px;
    display: block;
    transform: scale(1.2, 1.2);
    cursor: pointer; }

.qustion_buttons {
  margin-top: 12vh;
  display: flex;
  justify-content: space-between;
  min-width: 22%;
  display: none; }

body {
  background: #000;
  color: #fff; }
.time{    padding: 10px 20px;
    font-size: 34px;
    display: block;
    transform: scale(1.2, 1.2);
    cursor: pointer;
  }
  .question_text_type{
    font-size: 30px;
    margin-bottom: 40px;
  }
  .you{
    font-size: 20px;
    display: inline-block;
    position: relative;
  }
  .beff:before{
       position: absolute;
    content: '';
    width: 14px;
    height: 3px;
    background: #fff;
    animation-name: lineyou;
    animation-iteration-count: infinite;
    animation-duration: 0.8s;
    right: -16px;
    top: 16px;

  }
  .btn_hover_effect{
    float: right;
  }
  .textarea_you{
    background: #000;
     resize: none; 
     color: #fff;
     padding-top: 10px;
     width: 350px;
      height: 200px;
       padding: 0;
       padding-top: 2px;
    padding-left: 7px;
    font-size: 18px;
  }
  @keyframes lineyou{
    0%{
        opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
 .border_outside {
  border: 1px solid #fff;
  border-right: 0px;
  height: calc(100vh - 60px);
  width: calc(100vw - 60px);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.changeLanguage {
  position: absolute;
  top: 37px;
  right: -31px;
  display: block;
  width: 120px;
  text-align: center;
  height: 33px;
  z-index: 1;
  background: #000000;
  transform: translate(-50%, -50%); }

.Members {
  position: absolute;
  bottom: -11px;
  right: -31px;
  display: block;
  width: 120px;
  text-align: center;
  height: 33px;
  z-index: 1;
  background: #000000;
  transform: translate(-50%, -50%); }

.container {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center; }

form {
  display: flex;
  flex-direction: column;
  align-items: center; }

.b {
  margin-top: 30px; }
  .b .back_login {
    align-self: flex-end;
    margin-left: 30px;
    cursor: pointer; }

button {
  background: #000;
  color: #fff;
  border: 1px solid #fff;
  font-size: 18pt;
  padding: 3px 2px;
  cursor: pointer; }
  button.login_bttn {
    margin-bottom: 20px;
    align-self: flex-end;
    margin-bottom: 40px; }

input {
  background: #000;
  color: #ccc;
  border: none;
  width: 300px;
  font-size: 12pt;
  border-bottom: 1px solid #fff;
  margin-bottom: 20px;
  display: inline-block;
  padding-bottom: 2px; }

.registeOR {
  font-size: 21pt;
  color: #ccc;
  margin-bottom: 40px; }
  .registeOR span {
    font-size: 24pt;
    cursor: pointer;
    display: inline-block; }
    .registeOR span.active {
      color: #fff; }
    .registeOR span:first-child {
      margin-right: 36px; }
    .registeOR span:last-child {
      margin-left: 36px; }

button {
  position: relative;
  cursor: pointer; }

/*
==================================effect    hover
*/
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

html,
body {
  height: 100%; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  background: #000;
  color: #fff; }

a.switcher {
  display: block;
  position: fixed;
  text-decoration: none;
  z-index: 999999999999;
  right: 20px;
  bottom: 20px;
  width: 16px;
  height: 16px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.15;
  -webkit-transition: opacity 0.15s;
  transition: opacity 0.15s; }

a.switcher:hover {
  opacity: 1; }

a.switcher:before {
  display: block;
  content: '';
  position: absolute;
  border-radius: 4px;
  width: 2px;
  height: 5px;
  background: #fff;
  top: 0;
  left: 5px; }

.clock {
  display: block;
  z-index: 9;
  text-align: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  cursor: default; }

.clock span {
  display: block;
  position: relative;
  font-size: 34px; }

.clock.is-off {
  -webkit-animation: is-off  2s linear infinite !important;
  animation: is-off  2s linear infinite !important; }

.clock {
  transform: skewX(0deg) scaleY(1);
  -webkit-animation: clock-bag 4s linear infinite;
  animation: clock-bag 4s linear infinite; }

.clock span:before,
.clock span:after {
  display: block;
  content: attr(data-time);
  position: absolute;
  top: -6px;
  color: #fff;
  background: #000;
  overflow: hidden;
  width: 100%;
  left: 0;
  height: 100%;
  clip: rect(0, 900px, 0, 0); }

.clock span:before {
  left: -2px;
  text-shadow: 2px 0 #00f;
  animation: c2 1s infinite linear alternate-reverse; }

.clock span:after {
  left: 3px;
  text-shadow: -2px 0 #f00;
  animation: c1 2s infinite linear alternate-reverse; }

@-webkit-keyframes is-off {
  0% {
    opacity: 1; }
  50% {
    opacity: 1; }
  56% {
    opacity: 0; }
  57% {
    opacity: 0; }
  58% {
    opacity: 1; }
  71% {
    -webkit-transform: scaleY(1) skewX(0deg);
    transform: scaleY(1) skewX(0deg); }
  72% {
    -webkit-transform: scaleY(3) skewX(-60deg);
    transform: scaleY(3) skewX(-60deg); }
  73% {
    -webkit-transform: scaleY(1) skewX(0deg);
    transform: scaleY(1) skewX(0deg); }
  80% {
    opacity: 1; }
  81% {
    opacity: 0; }
  84% {
    opacity: 0; }
  85% {
    opacity: 1; }
  91% {
    -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
    transform: scaleX(1) scaleY(1) skewX(0deg);
    color: #fff; }
  92% {
    -webkit-transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
    transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
    color: #008000; }
  93% {
    -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
    transform: scaleX(1) scaleY(1) skewX(0deg);
    color: #fff; } }
@keyframes is-off {
  0% {
    opacity: 1; }
  50% {
    opacity: 1; }
  56% {
    opacity: 0; }
  57% {
    opacity: 0; }
  58% {
    opacity: 1; }
  71% {
    -webkit-transform: scaleY(1) skewX(0deg);
    transform: scaleY(1) skewX(0deg); }
  72% {
    -webkit-transform: scaleY(3) skewX(-60deg);
    transform: scaleY(3) skewX(-60deg); }
  73% {
    -webkit-transform: scaleY(1) skewX(0deg);
    transform: scaleY(1) skewX(0deg); }
  80% {
    opacity: 1; }
  81% {
    opacity: 0; }
  84% {
    opacity: 0; }
  85% {
    opacity: 1; }
  91% {
    -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
    transform: scaleX(1) scaleY(1) skewX(0deg);
    color: #fff; }
  92% {
    -webkit-transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
    transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
    color: #008000; }
  93% {
    -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
    transform: scaleX(1) scaleY(1) skewX(0deg);
    color: #fff; } }
@-webkit-keyframes c1 {
  0% {
    clip: rect(15px, 9999px, 91px, 0); }
  5% {
    clip: rect(18px, 9999px, 44px, 0); }
  10% {
    clip: rect(87px, 9999px, 83px, 0); }
  15.000000000000002% {
    clip: rect(95px, 9999px, 6px, 0); }
  20% {
    clip: rect(23px, 9999px, 20px, 0); }
  25% {
    clip: rect(8px, 9999px, 64px, 0); }
  30.000000000000004% {
    clip: rect(36px, 9999px, 46px, 0); }
  35.00000000000001% {
    clip: rect(60px, 9999px, 78px, 0); }
  40% {
    clip: rect(79px, 9999px, 18px, 0); }
  45% {
    clip: rect(54px, 9999px, 71px, 0); }
  50% {
    clip: rect(13px, 9999px, 65px, 0); }
  55% {
    clip: rect(86px, 9999px, 69px, 0); }
  60.00000000000001% {
    clip: rect(89px, 9999px, 77px, 0); }
  65% {
    clip: rect(72px, 9999px, 41px, 0); }
  70.00000000000001% {
    clip: rect(90px, 9999px, 53px, 0); }
  75% {
    clip: rect(65px, 9999px, 64px, 0); }
  80% {
    clip: rect(44px, 9999px, 9px, 0); }
  85% {
    clip: rect(88px, 9999px, 99px, 0); }
  90% {
    clip: rect(36px, 9999px, 43px, 0); }
  95% {
    clip: rect(87px, 9999px, 61px, 0); }
  100% {
    clip: rect(40px, 9999px, 89px, 0); } }
@keyframes c1 {
  0% {
    clip: rect(15px, 9999px, 91px, 0); }
  5% {
    clip: rect(18px, 9999px, 44px, 0); }
  10% {
    clip: rect(87px, 9999px, 83px, 0); }
  15.000000000000002% {
    clip: rect(95px, 9999px, 6px, 0); }
  20% {
    clip: rect(23px, 9999px, 20px, 0); }
  25% {
    clip: rect(8px, 9999px, 64px, 0); }
  30.000000000000004% {
    clip: rect(36px, 9999px, 46px, 0); }
  35.00000000000001% {
    clip: rect(60px, 9999px, 78px, 0); }
  40% {
    clip: rect(79px, 9999px, 18px, 0); }
  45% {
    clip: rect(54px, 9999px, 71px, 0); }
  50% {
    clip: rect(13px, 9999px, 65px, 0); }
  55% {
    clip: rect(86px, 9999px, 69px, 0); }
  60.00000000000001% {
    clip: rect(89px, 9999px, 77px, 0); }
  65% {
    clip: rect(72px, 9999px, 41px, 0); }
  70.00000000000001% {
    clip: rect(90px, 9999px, 53px, 0); }
  75% {
    clip: rect(65px, 9999px, 64px, 0); }
  80% {
    clip: rect(44px, 9999px, 9px, 0); }
  85% {
    clip: rect(88px, 9999px, 99px, 0); }
  90% {
    clip: rect(36px, 9999px, 43px, 0); }
  95% {
    clip: rect(87px, 9999px, 61px, 0); }
  100% {
    clip: rect(40px, 9999px, 89px, 0); } }
@-webkit-keyframes c2 {
  0% {
    clip: rect(55px, 9999px, 58px, 0); }
  5% {
    clip: rect(54px, 9999px, 57px, 0); }
  10% {
    clip: rect(29px, 9999px, 46px, 0); }
  15.000000000000002% {
    clip: rect(99px, 9999px, 17px, 0); }
  20% {
    clip: rect(7px, 9999px, 43px, 0); }
  25% {
    clip: rect(77px, 9999px, 26px, 0); }
  30.000000000000004% {
    clip: rect(7px, 9999px, 62px, 0); }
  35.00000000000001% {
    clip: rect(52px, 9999px, 51px, 0); }
  40% {
    clip: rect(33px, 9999px, 2px, 0); }
  45% {
    clip: rect(40px, 9999px, 73px, 0); }
  50% {
    clip: rect(52px, 9999px, 40px, 0); }
  55% {
    clip: rect(14px, 9999px, 99px, 0); }
  60.00000000000001% {
    clip: rect(13px, 9999px, 87px, 0); }
  65% {
    clip: rect(88px, 9999px, 82px, 0); }
  70.00000000000001% {
    clip: rect(3px, 9999px, 28px, 0); }
  75% {
    clip: rect(36px, 9999px, 28px, 0); }
  80% {
    clip: rect(38px, 9999px, 8px, 0); }
  85% {
    clip: rect(90px, 9999px, 66px, 0); }
  90% {
    clip: rect(10px, 9999px, 57px, 0); }
  95% {
    clip: rect(47px, 9999px, 84px, 0); }
  100% {
    clip: rect(52px, 9999px, 95px, 0); }
  23% {
    -webkit-transform: scaleX(0.8);
    transform: scaleX(0.8); } }
@keyframes c2 {
  0% {
    clip: rect(55px, 9999px, 58px, 0); }
  5% {
    clip: rect(54px, 9999px, 57px, 0); }
  10% {
    clip: rect(29px, 9999px, 46px, 0); }
  15.000000000000002% {
    clip: rect(99px, 9999px, 17px, 0); }
  20% {
    clip: rect(7px, 9999px, 43px, 0); }
  25% {
    clip: rect(77px, 9999px, 26px, 0); }
  30.000000000000004% {
    clip: rect(7px, 9999px, 62px, 0); }
  35.00000000000001% {
    clip: rect(52px, 9999px, 51px, 0); }
  40% {
    clip: rect(33px, 9999px, 2px, 0); }
  45% {
    clip: rect(40px, 9999px, 73px, 0); }
  50% {
    clip: rect(52px, 9999px, 40px, 0); }
  55% {
    clip: rect(14px, 9999px, 99px, 0); }
  60.00000000000001% {
    clip: rect(13px, 9999px, 87px, 0); }
  65% {
    clip: rect(88px, 9999px, 82px, 0); }
  70.00000000000001% {
    clip: rect(3px, 9999px, 28px, 0); }
  75% {
    clip: rect(36px, 9999px, 28px, 0); }
  80% {
    clip: rect(38px, 9999px, 8px, 0); }
  85% {
    clip: rect(90px, 9999px, 66px, 0); }
  90% {
    clip: rect(10px, 9999px, 57px, 0); }
  95% {
    clip: rect(47px, 9999px, 84px, 0); }
  100% {
    clip: rect(52px, 9999px, 95px, 0); }
  23% {
    -webkit-transform: scaleX(0.8);
    transform: scaleX(0.8); } }
@-webkit-keyframes clock-bag {
  0% {
    -webkit-transform: translate(1px, 3px);
    transform: translate(1px, 3px); }
  2% {
    -webkit-transform: translate(5px, 3px);
    transform: translate(5px, 3px); }
  4% {
    -webkit-transform: translate(3px, 5px);
    transform: translate(3px, 5px); }
  6% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px); }
  8% {
    -webkit-transform: translate(2px, 4px);
    transform: translate(2px, 4px); }
  10% {
    -webkit-transform: translate(4px, 1px);
    transform: translate(4px, 1px); }
  12% {
    -webkit-transform: translate(4px, 4px);
    transform: translate(4px, 4px); }
  14.000000000000002% {
    -webkit-transform: translate(1px, 1px);
    transform: translate(1px, 1px); }
  16% {
    -webkit-transform: translate(3px, 1px);
    transform: translate(3px, 1px); }
  18% {
    -webkit-transform: translate(4px, 2px);
    transform: translate(4px, 2px); }
  20% {
    -webkit-transform: translate(1px, 1px);
    transform: translate(1px, 1px); }
  22% {
    -webkit-transform: translate(5px, 3px);
    transform: translate(5px, 3px); }
  24% {
    -webkit-transform: translate(4px, 1px);
    transform: translate(4px, 1px); }
  26% {
    -webkit-transform: translate(4px, 3px);
    transform: translate(4px, 3px); }
  28.000000000000004% {
    -webkit-transform: translate(4px, 2px);
    transform: translate(4px, 2px); }
  30% {
    -webkit-transform: translate(4px, 2px);
    transform: translate(4px, 2px); }
  32% {
    -webkit-transform: translate(2px, 3px);
    transform: translate(2px, 3px); }
  34% {
    -webkit-transform: translate(1px, 2px);
    transform: translate(1px, 2px); }
  36% {
    -webkit-transform: translate(2px, 4px);
    transform: translate(2px, 4px); }
  38% {
    -webkit-transform: translate(5px, 4px);
    transform: translate(5px, 4px); }
  40% {
    -webkit-transform: translate(2px, 5px);
    transform: translate(2px, 5px); }
  42% {
    -webkit-transform: translate(3px, 3px);
    transform: translate(3px, 3px); }
  44% {
    -webkit-transform: translate(4px, 2px);
    transform: translate(4px, 2px); }
  46.00000000000001% {
    -webkit-transform: translate(4px, 4px);
    transform: translate(4px, 4px); }
  48% {
    -webkit-transform: translate(3px, 4px);
    transform: translate(3px, 4px); }
  50% {
    -webkit-transform: translate(2px, 5px);
    transform: translate(2px, 5px); }
  52% {
    -webkit-transform: translate(5px, 2px);
    transform: translate(5px, 2px); }
  54% {
    -webkit-transform: translate(4px, 5px);
    transform: translate(4px, 5px); }
  56.00000000000001% {
    -webkit-transform: translate(4px, 1px);
    transform: translate(4px, 1px); }
  58% {
    -webkit-transform: translate(2px, 5px);
    transform: translate(2px, 5px); }
  60% {
    -webkit-transform: translate(5px, 2px);
    transform: translate(5px, 2px); }
  62% {
    -webkit-transform: translate(3px, 3px);
    transform: translate(3px, 3px); }
  64% {
    -webkit-transform: translate(4px, 2px);
    transform: translate(4px, 2px); }
  66% {
    -webkit-transform: translate(3px, 4px);
    transform: translate(3px, 4px); }
  68% {
    -webkit-transform: translate(3px, 5px);
    transform: translate(3px, 5px); }
  70.00000000000001% {
    -webkit-transform: translate(1px, 3px);
    transform: translate(1px, 3px); }
  72% {
    -webkit-transform: translate(3px, 3px);
    transform: translate(3px, 3px); }
  74% {
    -webkit-transform: translate(1px, 1px);
    transform: translate(1px, 1px); }
  76% {
    -webkit-transform: translate(5px, 3px);
    transform: translate(5px, 3px); }
  78% {
    -webkit-transform: translate(3px, 2px);
    transform: translate(3px, 2px); }
  80% {
    -webkit-transform: translate(2px, 5px);
    transform: translate(2px, 5px); }
  82.00000000000001% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px); }
  84% {
    -webkit-transform: translate(5px, 5px);
    transform: translate(5px, 5px); }
  86% {
    -webkit-transform: translate(2px, 5px);
    transform: translate(2px, 5px); }
  88% {
    -webkit-transform: translate(4px, 1px);
    transform: translate(4px, 1px); }
  90% {
    -webkit-transform: translate(5px, 4px);
    transform: translate(5px, 4px); }
  92.00000000000001% {
    -webkit-transform: translate(5px, 5px);
    transform: translate(5px, 5px); }
  94% {
    -webkit-transform: translate(1px, 3px);
    transform: translate(1px, 3px); }
  96% {
    -webkit-transform: translate(4px, 4px);
    transform: translate(4px, 4px); }
  98% {
    -webkit-transform: translate(1px, 1px);
    transform: translate(1px, 1px); }
  100% {
    -webkit-transform: translate(4px, 2px);
    transform: translate(4px, 2px); }
  1% {
    -webkit-transform: scaleY(1) skewX(0deg);
    transform: scaleY(1) skewX(0deg); }
  1.5% {
    -webkit-transform: scaleY(3) skewX(-60deg);
    transform: scaleY(3) skewX(-60deg); }
  2% {
    -webkit-transform: scaleY(1) skewX(0deg);
    transform: scaleY(1) skewX(0deg); }
  51% {
    -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
    transform: scaleX(1) scaleY(1) skewX(0deg); }
  52% {
    -webkit-transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
    transform: scaleX(1.5) scaleY(0.2) skewX(80deg); }
  53% {
    -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
    transform: scaleX(1) scaleY(1) skewX(0deg); } }
@keyframes clock-bag {
  0% {
    -webkit-transform: translate(1px, 3px);
    transform: translate(1px, 3px); }
  2% {
    -webkit-transform: translate(5px, 3px);
    transform: translate(5px, 3px); }
  4% {
    -webkit-transform: translate(3px, 5px);
    transform: translate(3px, 5px); }
  6% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px); }
  8% {
    -webkit-transform: translate(2px, 4px);
    transform: translate(2px, 4px); }
  10% {
    -webkit-transform: translate(4px, 1px);
    transform: translate(4px, 1px); }
  12% {
    -webkit-transform: translate(4px, 4px);
    transform: translate(4px, 4px); }
  14.000000000000002% {
    -webkit-transform: translate(1px, 1px);
    transform: translate(1px, 1px); }
  16% {
    -webkit-transform: translate(3px, 1px);
    transform: translate(3px, 1px); }
  18% {
    -webkit-transform: translate(4px, 2px);
    transform: translate(4px, 2px); }
  20% {
    -webkit-transform: translate(1px, 1px);
    transform: translate(1px, 1px); }
  22% {
    -webkit-transform: translate(5px, 3px);
    transform: translate(5px, 3px); }
  24% {
    -webkit-transform: translate(4px, 1px);
    transform: translate(4px, 1px); }
  26% {
    -webkit-transform: translate(4px, 3px);
    transform: translate(4px, 3px); }
  28.000000000000004% {
    -webkit-transform: translate(4px, 2px);
    transform: translate(4px, 2px); }
  30% {
    -webkit-transform: translate(4px, 2px);
    transform: translate(4px, 2px); }
  32% {
    -webkit-transform: translate(2px, 3px);
    transform: translate(2px, 3px); }
  34% {
    -webkit-transform: translate(1px, 2px);
    transform: translate(1px, 2px); }
  36% {
    -webkit-transform: translate(2px, 4px);
    transform: translate(2px, 4px); }
  38% {
    -webkit-transform: translate(5px, 4px);
    transform: translate(5px, 4px); }
  40% {
    -webkit-transform: translate(2px, 5px);
    transform: translate(2px, 5px); }
  42% {
    -webkit-transform: translate(3px, 3px);
    transform: translate(3px, 3px); }
  44% {
    -webkit-transform: translate(4px, 2px);
    transform: translate(4px, 2px); }
  46.00000000000001% {
    -webkit-transform: translate(4px, 4px);
    transform: translate(4px, 4px); }
  48% {
    -webkit-transform: translate(3px, 4px);
    transform: translate(3px, 4px); }
  50% {
    -webkit-transform: translate(2px, 5px);
    transform: translate(2px, 5px); }
  52% {
    -webkit-transform: translate(5px, 2px);
    transform: translate(5px, 2px); }
  54% {
    -webkit-transform: translate(4px, 5px);
    transform: translate(4px, 5px); }
  56.00000000000001% {
    -webkit-transform: translate(4px, 1px);
    transform: translate(4px, 1px); }
  58% {
    -webkit-transform: translate(2px, 5px);
    transform: translate(2px, 5px); }
  60% {
    -webkit-transform: translate(5px, 2px);
    transform: translate(5px, 2px); }
  62% {
    -webkit-transform: translate(3px, 3px);
    transform: translate(3px, 3px); }
  64% {
    -webkit-transform: translate(4px, 2px);
    transform: translate(4px, 2px); }
  66% {
    -webkit-transform: translate(3px, 4px);
    transform: translate(3px, 4px); }
  68% {
    -webkit-transform: translate(3px, 5px);
    transform: translate(3px, 5px); }
  70.00000000000001% {
    -webkit-transform: translate(1px, 3px);
    transform: translate(1px, 3px); }
  72% {
    -webkit-transform: translate(3px, 3px);
    transform: translate(3px, 3px); }
  74% {
    -webkit-transform: translate(1px, 1px);
    transform: translate(1px, 1px); }
  76% {
    -webkit-transform: translate(5px, 3px);
    transform: translate(5px, 3px); }
  78% {
    -webkit-transform: translate(3px, 2px);
    transform: translate(3px, 2px); }
  80% {
    -webkit-transform: translate(2px, 5px);
    transform: translate(2px, 5px); }
  82.00000000000001% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px); }
  84% {
    -webkit-transform: translate(5px, 5px);
    transform: translate(5px, 5px); }
  86% {
    -webkit-transform: translate(2px, 5px);
    transform: translate(2px, 5px); }
  88% {
    -webkit-transform: translate(4px, 1px);
    transform: translate(4px, 1px); }
  90% {
    -webkit-transform: translate(5px, 4px);
    transform: translate(5px, 4px); }
  92.00000000000001% {
    -webkit-transform: translate(5px, 5px);
    transform: translate(5px, 5px); }
  94% {
    -webkit-transform: translate(1px, 3px);
    transform: translate(1px, 3px); }
  96% {
    -webkit-transform: translate(4px, 4px);
    transform: translate(4px, 4px); }
  98% {
    -webkit-transform: translate(1px, 1px);
    transform: translate(1px, 1px); }
  100% {
    -webkit-transform: translate(4px, 2px);
    transform: translate(4px, 2px); }
  1% {
    -webkit-transform: scaleY(1) skewX(0deg);
    transform: scaleY(1) skewX(0deg); }
  1.5% {
    -webkit-transform: scaleY(3) skewX(-60deg);
    transform: scaleY(3) skewX(-60deg); }
  2% {
    -webkit-transform: scaleY(1) skewX(0deg);
    transform: scaleY(1) skewX(0deg); }
  51% {
    -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
    transform: scaleX(1) scaleY(1) skewX(0deg); }
  52% {
    -webkit-transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
    transform: scaleX(1.5) scaleY(0.2) skewX(80deg); }
  53% {
    -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
    transform: scaleX(1) scaleY(1) skewX(0deg); } }
@-webkit-keyframes tr-bag {
  0% {
    -webkit-transform: translate(2px, 5px);
    transform: translate(2px, 5px); }
  2% {
    -webkit-transform: translate(3px, 4px);
    transform: translate(3px, 4px); }
  4% {
    -webkit-transform: translate(5px, 4px);
    transform: translate(5px, 4px); }
  6% {
    -webkit-transform: translate(5px, 4px);
    transform: translate(5px, 4px); }
  8% {
    -webkit-transform: translate(2px, 4px);
    transform: translate(2px, 4px); }
  10% {
    -webkit-transform: translate(4px, 4px);
    transform: translate(4px, 4px); }
  12% {
    -webkit-transform: translate(4px, 5px);
    transform: translate(4px, 5px); }
  14.000000000000002% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px); }
  16% {
    -webkit-transform: translate(3px, 1px);
    transform: translate(3px, 1px); }
  18% {
    -webkit-transform: translate(4px, 4px);
    transform: translate(4px, 4px); }
  20% {
    -webkit-transform: translate(2px, 1px);
    transform: translate(2px, 1px); }
  22% {
    -webkit-transform: translate(3px, 2px);
    transform: translate(3px, 2px); }
  24% {
    -webkit-transform: translate(1px, 3px);
    transform: translate(1px, 3px); }
  26% {
    -webkit-transform: translate(1px, 2px);
    transform: translate(1px, 2px); }
  28.000000000000004% {
    -webkit-transform: translate(1px, 3px);
    transform: translate(1px, 3px); }
  30% {
    -webkit-transform: translate(1px, 1px);
    transform: translate(1px, 1px); }
  32% {
    -webkit-transform: translate(4px, 3px);
    transform: translate(4px, 3px); }
  34% {
    -webkit-transform: translate(3px, 2px);
    transform: translate(3px, 2px); }
  36% {
    -webkit-transform: translate(3px, 5px);
    transform: translate(3px, 5px); }
  38% {
    -webkit-transform: translate(2px, 3px);
    transform: translate(2px, 3px); }
  40% {
    -webkit-transform: translate(1px, 1px);
    transform: translate(1px, 1px); }
  42% {
    -webkit-transform: translate(4px, 4px);
    transform: translate(4px, 4px); }
  44% {
    -webkit-transform: translate(3px, 5px);
    transform: translate(3px, 5px); }
  46.00000000000001% {
    -webkit-transform: translate(3px, 3px);
    transform: translate(3px, 3px); }
  48% {
    -webkit-transform: translate(3px, 5px);
    transform: translate(3px, 5px); }
  50% {
    -webkit-transform: translate(5px, 3px);
    transform: translate(5px, 3px); }
  52% {
    -webkit-transform: translate(1px, 2px);
    transform: translate(1px, 2px); }
  54% {
    -webkit-transform: translate(4px, 1px);
    transform: translate(4px, 1px); }
  56.00000000000001% {
    -webkit-transform: translate(4px, 2px);
    transform: translate(4px, 2px); }
  58% {
    -webkit-transform: translate(5px, 2px);
    transform: translate(5px, 2px); }
  60% {
    -webkit-transform: translate(5px, 2px);
    transform: translate(5px, 2px); }
  62% {
    -webkit-transform: translate(5px, 4px);
    transform: translate(5px, 4px); }
  64% {
    -webkit-transform: translate(2px, 5px);
    transform: translate(2px, 5px); }
  66% {
    -webkit-transform: translate(4px, 4px);
    transform: translate(4px, 4px); }
  68% {
    -webkit-transform: translate(3px, 1px);
    transform: translate(3px, 1px); }
  70.00000000000001% {
    -webkit-transform: translate(1px, 3px);
    transform: translate(1px, 3px); }
  72% {
    -webkit-transform: translate(1px, 5px);
    transform: translate(1px, 5px); }
  74% {
    -webkit-transform: translate(4px, 2px);
    transform: translate(4px, 2px); }
  76% {
    -webkit-transform: translate(3px, 2px);
    transform: translate(3px, 2px); }
  78% {
    -webkit-transform: translate(5px, 1px);
    transform: translate(5px, 1px); }
  80% {
    -webkit-transform: translate(4px, 3px);
    transform: translate(4px, 3px); }
  82.00000000000001% {
    -webkit-transform: translate(3px, 5px);
    transform: translate(3px, 5px); }
  84% {
    -webkit-transform: translate(5px, 5px);
    transform: translate(5px, 5px); }
  86% {
    -webkit-transform: translate(1px, 2px);
    transform: translate(1px, 2px); }
  88% {
    -webkit-transform: translate(5px, 4px);
    transform: translate(5px, 4px); }
  90% {
    -webkit-transform: translate(3px, 3px);
    transform: translate(3px, 3px); }
  92.00000000000001% {
    -webkit-transform: translate(3px, 3px);
    transform: translate(3px, 3px); }
  94% {
    -webkit-transform: translate(3px, 4px);
    transform: translate(3px, 4px); }
  96% {
    -webkit-transform: translate(1px, 3px);
    transform: translate(1px, 3px); }
  98% {
    -webkit-transform: translate(4px, 4px);
    transform: translate(4px, 4px); }
  100% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px); }
  1% {
    -webkit-transform: scaleY(1) skewX(0deg);
    transform: scaleY(1) skewX(0deg); }
  1.5% {
    -webkit-transform: scaleY(3) skewX(-60deg);
    transform: scaleY(3) skewX(-60deg); }
  2% {
    -webkit-transform: scaleY(1) skewX(0deg);
    transform: scaleY(1) skewX(0deg); }
  51% {
    -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
    transform: scaleX(1) scaleY(1) skewX(0deg); }
  52% {
    -webkit-transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
    transform: scaleX(1.5) scaleY(0.2) skewX(80deg); }
  53% {
    -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
    transform: scaleX(1) scaleY(1) skewX(0deg); } }
@keyframes tr-bag {
  0% {
    -webkit-transform: translate(2px, 5px);
    transform: translate(2px, 5px); }
  2% {
    -webkit-transform: translate(3px, 4px);
    transform: translate(3px, 4px); }
  4% {
    -webkit-transform: translate(5px, 4px);
    transform: translate(5px, 4px); }
  6% {
    -webkit-transform: translate(5px, 4px);
    transform: translate(5px, 4px); }
  8% {
    -webkit-transform: translate(2px, 4px);
    transform: translate(2px, 4px); }
  10% {
    -webkit-transform: translate(4px, 4px);
    transform: translate(4px, 4px); }
  12% {
    -webkit-transform: translate(4px, 5px);
    transform: translate(4px, 5px); }
  14.000000000000002% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px); }
  16% {
    -webkit-transform: translate(3px, 1px);
    transform: translate(3px, 1px); }
  18% {
    -webkit-transform: translate(4px, 4px);
    transform: translate(4px, 4px); }
  20% {
    -webkit-transform: translate(2px, 1px);
    transform: translate(2px, 1px); }
  22% {
    -webkit-transform: translate(3px, 2px);
    transform: translate(3px, 2px); }
  24% {
    -webkit-transform: translate(1px, 3px);
    transform: translate(1px, 3px); }
  26% {
    -webkit-transform: translate(1px, 2px);
    transform: translate(1px, 2px); }
  28.000000000000004% {
    -webkit-transform: translate(1px, 3px);
    transform: translate(1px, 3px); }
  30% {
    -webkit-transform: translate(1px, 1px);
    transform: translate(1px, 1px); }
  32% {
    -webkit-transform: translate(4px, 3px);
    transform: translate(4px, 3px); }
  34% {
    -webkit-transform: translate(3px, 2px);
    transform: translate(3px, 2px); }
  36% {
    -webkit-transform: translate(3px, 5px);
    transform: translate(3px, 5px); }
  38% {
    -webkit-transform: translate(2px, 3px);
    transform: translate(2px, 3px); }
  40% {
    -webkit-transform: translate(1px, 1px);
    transform: translate(1px, 1px); }
  42% {
    -webkit-transform: translate(4px, 4px);
    transform: translate(4px, 4px); }
  44% {
    -webkit-transform: translate(3px, 5px);
    transform: translate(3px, 5px); }
  46.00000000000001% {
    -webkit-transform: translate(3px, 3px);
    transform: translate(3px, 3px); }
  48% {
    -webkit-transform: translate(3px, 5px);
    transform: translate(3px, 5px); }
  50% {
    -webkit-transform: translate(5px, 3px);
    transform: translate(5px, 3px); }
  52% {
    -webkit-transform: translate(1px, 2px);
    transform: translate(1px, 2px); }
  54% {
    -webkit-transform: translate(4px, 1px);
    transform: translate(4px, 1px); }
  56.00000000000001% {
    -webkit-transform: translate(4px, 2px);
    transform: translate(4px, 2px); }
  58% {
    -webkit-transform: translate(5px, 2px);
    transform: translate(5px, 2px); }
  60% {
    -webkit-transform: translate(5px, 2px);
    transform: translate(5px, 2px); }
  62% {
    -webkit-transform: translate(5px, 4px);
    transform: translate(5px, 4px); }
  64% {
    -webkit-transform: translate(2px, 5px);
    transform: translate(2px, 5px); }
  66% {
    -webkit-transform: translate(4px, 4px);
    transform: translate(4px, 4px); }
  68% {
    -webkit-transform: translate(3px, 1px);
    transform: translate(3px, 1px); }
  70.00000000000001% {
    -webkit-transform: translate(1px, 3px);
    transform: translate(1px, 3px); }
  72% {
    -webkit-transform: translate(1px, 5px);
    transform: translate(1px, 5px); }
  74% {
    -webkit-transform: translate(4px, 2px);
    transform: translate(4px, 2px); }
  76% {
    -webkit-transform: translate(3px, 2px);
    transform: translate(3px, 2px); }
  78% {
    -webkit-transform: translate(5px, 1px);
    transform: translate(5px, 1px); }
  80% {
    -webkit-transform: translate(4px, 3px);
    transform: translate(4px, 3px); }
  82.00000000000001% {
    -webkit-transform: translate(3px, 5px);
    transform: translate(3px, 5px); }
  84% {
    -webkit-transform: translate(5px, 5px);
    transform: translate(5px, 5px); }
  86% {
    -webkit-transform: translate(1px, 2px);
    transform: translate(1px, 2px); }
  88% {
    -webkit-transform: translate(5px, 4px);
    transform: translate(5px, 4px); }
  90% {
    -webkit-transform: translate(3px, 3px);
    transform: translate(3px, 3px); }
  92.00000000000001% {
    -webkit-transform: translate(3px, 3px);
    transform: translate(3px, 3px); }
  94% {
    -webkit-transform: translate(3px, 4px);
    transform: translate(3px, 4px); }
  96% {
    -webkit-transform: translate(1px, 3px);
    transform: translate(1px, 3px); }
  98% {
    -webkit-transform: translate(4px, 4px);
    transform: translate(4px, 4px); }
  100% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px); }
  1% {
    -webkit-transform: scaleY(1) skewX(0deg);
    transform: scaleY(1) skewX(0deg); }
  1.5% {
    -webkit-transform: scaleY(3) skewX(-60deg);
    transform: scaleY(3) skewX(-60deg); }
  2% {
    -webkit-transform: scaleY(1) skewX(0deg);
    transform: scaleY(1) skewX(0deg); }
  51% {
    -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
    transform: scaleX(1) scaleY(1) skewX(0deg); }
  52% {
    -webkit-transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
    transform: scaleX(1.5) scaleY(0.2) skewX(80deg); }
  53% {
    -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
    transform: scaleX(1) scaleY(1) skewX(0deg); } }
@-webkit-keyframes bg-move {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 0 -32px; } }
@keyframes bg-move {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 0 -32px; } }

/*# sourceMappingURL=style.css.map */
